:root {
  --dark: #2c3333;
  --medium: #395b64;
  --light: #a5c9ca;
  --bright: #e7f6f2;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

body {
  background-color: var(--light);
}

header {
  background-image: linear-gradient(var(--medium) 0%, var(--dark) 100%);
  color: var(--bright);
  text-align: center;
  padding: 15px;
}

h1 {
  font-size: 7vw;
}

header p {
  font-size: 3vw;
}

h2 {
  font-size: 5vw;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.container h2 {
  padding: 15px;
}

.container button {
  background-image: linear-gradient(var(--medium) 0%, var(--dark) 100%);
  color: var(--bright);
  font-size: 4vw;
  border-radius: 8px;
  margin: 15px;
  padding: 15px;
}

.container button:hover {
  background-image: linear-gradient(var(--light) 0%, var(--medium) 100%);
  color: var(--dark);
  border: 2px solid var(--dark);
}

.container textarea {
  background-color: var(--bright);
  border-radius: 8px;
  margin: 15px;
  padding: 15px;
  height: 20px;
}

#eventsSection {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
}

#weatherSection {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
}
