:root {
  --dark: #2c3333;
  --medium: #395b64;
  --light: #a5c9ca;
  --bright: #e7f6f2;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

body {
  background-color: var(--light);
}

header {
  background-image: linear-gradient(var(--medium) 0%, var(--dark) 100%);
  color: var(--bright);
  text-align: center;
  padding: 15px;
}

img {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
}

h1 {
  font-size: 7vw;
}

header p {
  font-size: 3vw;
}

h2 {
  font-size: 3vw;
  padding: 15px;
  margin: 15px;
  width: 100%;
}
h3 {
  font-size: 2vw;
}

.breweriesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 15px;
}

.container {
  float: left;
  width: 25%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-right: solid 2px var(--dark);
}

.container h2 {
  padding: 15px;
}
.container h3 {
  padding: 15px;
}

.container #btn {
  background-image: linear-gradient(var(--medium) 0%, var(--dark) 100%);
  color: var(--bright);
  width: 85%;
  font-size: 1.5vw;
  border-radius: 8px;
  margin: 15px;
  padding: 15px;
}

#btn-2 {
  background-image: linear-gradient(var(--light) 0%, var(--medium) 100%);
  color: var(--dark);
  width: 85%;
  font-size: 1.5vw;
  border-radius: 8px;
  margin: 15px;
  padding: 15px;
}

.container #btn:hover {
  background-image: linear-gradient(var(--light) 0%, var(--medium) 100%);
  color: var(--dark);
  border: 2px solid var(--dark);
}
.container #btn:active {
  background-image: linear-gradient(var(--dark) 0%, var(--medium) 100%);
  color: var(--light);
  border: 2px solid var(--dark);
}
.container input {
  background-color: var(--bright);
  border-radius: 8px;
  max-width: 80%;
  margin: 15px;
  padding: 15px;
  height: 20px;
}

.cityWeather,
.dateRange {
  color: var(--dark);
  font-weight: bolder;
}

.card {
  background-color: var(--medium);
  box-shadow: 2.5px 3.1px 21.1px rgba(0, 0, 0, 0.21),
    6.9px 8.5px 30.9px rgba(0, 0, 0, 0.313),
    16.6px 20.5px 43.8px rgba(0, 0, 0, 0.382),
    55px 68px 80px rgba(0, 0, 0, 0.42);
}

.card-header {
  color: var(--bright);
  text-decoration: underline;
}

#eventsSection {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  width: 100%;
}

#weatherSection {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  width: 100%;
}

#weatherSection .card {
  max-width: fit-content;
}

.hide {
  display: none;
}

#showHistory {
  background-image: linear-gradient(var(--light) 0%, var(--medium) 100%);
  color: var(--dark);
  width: 85%;
  font-size: 1.5vw;
  border-radius: 8px;
  margin: 15px;
  padding: 15px;
}

/* media queries for a responsive mobile view */
@media screen and (max-width: 768px) {
  .container {
  width: 100%;
  border-right: 0px;
  align-items: center;
 }

 .breweriesDiv {
  width: 100%;
 }

 #saved-cities {
  display: none;
 }
}

@media screen and (min-width: 769px) {
  #showHistory {
    display: none;
  }
}
